/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    margin: 0;
    background-color: black;
}

/* Star wars CSS
-------------------------------------------------- */
.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
}

/* Center it, set the color, size and hide the text */
.intro {
    position: center;
    top: 45%;
    left: 50%;
    z-index: 1;
    animation: intro 6s ease-out 1s;
    color: rgb(75, 213, 238);
    font-weight: 400;
    font-size: 300%;
    opacity: 0;
}

@keyframes intro {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Set the animation & hide the logo */
.logo {
    position: center;
    top: 20%;
    left: 45%;
    z-index: 1;
    margin: auto;
    animation: logo 9s ease-out 9s;
    opacity: 0;
}

    .logo svg {
        width: inherit;
    }

/* Scale the logo down and maintain it centered */
@keyframes logo {
    0% {
        width: 18em;
        transform: scale(2.75);
        opacity: 1;
    }

    50% {
        opacity: 1;
        width: 18em;
    }

    100% {
        opacity: 0;
        transform: scale(0.1);
        width: 18em;
    }
}

p {
    color: #FFFF82;
}

/* Set the font, lean the board, position it */
#board {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
}

    #board:after {
        position: absolute;
        content: ' ';
        bottom: 60%;
        left: 0;
        right: 0;
        top: 0;
    }

/* Set the scrolling animation and position it */
#content {
    animation: scroll 100s linear 16s;
    position: absolute;
    top: 100%;
}

#title, #subtitle {
    text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }

    100% {
        top: -170%;
    }
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: ivory;
}

h1{
    text-align: center;
    color: white;
    font-weight:bold;
}

.table{
    color: white;
}