
@{
    ViewData["Title"] = "Index";

}



    <form action="../StarWars/GetPlanetsById" method="post">
        <input type="search" name="Id" value="" required />
        <input type="submit" value="Find Planet" />
    </form>
