
@{
    ViewData["Title"] = "SearchPersonById";
}

<h1>Search Person By Id</h1>

<form action="../StarWars/GetPersonById" method="post">
    <input type="search" name="Id" value="" required />
    <input type="submit" value="Find Person" />
</form>